.header-menu {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    
    .animation-arrow {
        width: 1.7rem;
        height:1.7rem;
        border-radius: 50%;
        text-align: center;
        line-height: 1.7rem;
        font-size: 0.8rem;
        transition: 0.3s;
    }

    &__img {
        margin: auto;
    }
}

//main
    //menu

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 100%;
    top: -50px;
    background: $color-background;
    border-radius: 40px 40px 0px 0px;
    padding: 2rem 1rem;
    max-width: 1200px;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        margin-bottom: 1.2rem;
        max-width: 350px;
        

        &__title {
            font-family: Shrikhand, sans-serif;
            font-weight: 400;
            font-size: 1.8rem;
        }

        &__heart {
            position: absolute;
            right: 1.5rem;
            font-size: 20px;
        }
    }

    //menu cards
    &__cards {
        max-width: 1400px;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        margin-bottom: 2rem;

        &__border {
            width: 2.5rem;
            border-bottom: 2px solid $color-tiers;

            &__title {
                font-weight: 300;
                text-transform: uppercase;
                font-size: 1rem;
            }
        }

        &__block {
            border-radius: 0.9rem;
            display: flex;
            height: 100%;
            justify-content: space-between;
            align-items: flex-end;
            background: #fff;
            font-size: 0.9rem;
            box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
            cursor: pointer;
            overflow: hidden;
            

            &__description {
                padding: 0.6rem 1rem 0.6rem 0.6rem;
                display: flex;
                flex-direction: column;
                font-weight: 300;
                white-space: nowrap;
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;

                h3 {
                    font-weight: 500;
                    margin-bottom: 0.3rem;
                    text-overflow: ellipsis;
                    padding-right: 1.5rem;
                    overflow: hidden;
                }

                p {
                    text-overflow: ellipsis;
                    overflow: hidden;
                    padding-right: 1rem;
                }

            }

            .menu--cards-price {
                font-weight: 600;
                height: 100%;
                padding: 0 1rem 0.6rem 1rem;
                white-space: nowrap;
                transition: all ease-in-out 0.2s;
            }

            .menu--cards-animation {
                @include flex-center;
                margin-right: -3.5rem;
                width: 3.5rem;
                height: 100%;
                background: $color-tiers;
                color: #fff;
                font-size: 1.4rem;
                padding: 22px;
                border-radius: 0 0.9rem 0.9rem 0;
                transition: all ease-in-out 0.2s;

                i {
                    background-color: #fff;
                    display: block;
                    height: 100%;
                    background: $color-tiers;
                }
            }

        }
       
    }

    // button
    &__button {
        margin: auto;
        width: 9rem;
    }
}

// Media Queries
@media (min-width: 1200px) {
    .img-header-menu {
        img{
            height: 500px;
        }
        
    }

    .menu {
        margin: auto;

        &__container {
            max-width: 800px;
            margin: auto;
            min-width: 800px;
            margin-bottom: 2rem;
            justify-content: center;

            &__heart {
                right: 13rem;
            }
        }

        &__cards {
            max-width: 800px;
            min-width: 800px;
            margin: auto;
            margin-bottom: 2rem;
        }
    }

}