<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- link Font -->
    <link href="https://fonts.googleapis.com/css2?family=Shrikhand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Shrikhand&display=swap" rel="stylesheet">
    <!-- link Css -->
    <link rel="stylesheet" href="../../../style.css">
    <!-- link Icone -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <!-- Title -->
    <title>OhMyFood</title>
</head>
<body>
    <!-- Header -->
    <header class="header">
        <img src="../../../ressources/images/logo/ohmyfood.png" alt="logo OhMyFood">
    </header>

    <!-- Main -->
    <main>
        
    </main>

    <!-- Footer -->
    <footer class="footer">
        <div class="footer__logo">ohmyfood</div>
        <ul class="footer__block">
            <li>
                <a href="#">
                    <i class="fa-solid fa-utensils"></i>
                    <p>Proposer un restaurant</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-regular fa-handshake-angle"></i>
                    <p>Devenir partenaire</p>
                </a>
            </li>
            <li>
                <a href="#">Mentions légales</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>
    </footer>
</body>
</html>