* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
.header img {
  width: 10rem;
  padding: 1.3rem 0;
}

.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #EAEAEA;
  padding: 1rem 0;
  column-gap: 1.2rem;
}
.localisation__icone {
  font-size: 1.1rem;
}
.localisation__title {
  font-weight: 600;
}

.explore {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: #f5f5f5;
  padding: 2rem 2rem 3rem 2rem;
  row-gap: 1rem;
}
.explore__title {
  padding: 0 1rem;
}
.explore__description {
  color: #353535;
  font-weight: 300;
}

.fonctionnement {
  padding: 2.5rem;
}
.fonctionnement__title {
  margin-bottom: 2rem;
}
.fonctionnement__container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.fonctionnement__container__cards {
  display: flex;
  position: relative;
  width: 100%;
  column-gap: 1rem;
  background-color: #f6f6f6;
  font-weight: 500;
  padding: 1.3rem 1rem;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}
.fonctionnement__container__cards:hover {
  background-color: #F5EDFF;
}
.fonctionnement__container__cards:hover .fonctionnement--icone {
  color: #9356DC;
}
.fonctionnement__container__cards .fonctionnement--number {
  position: absolute;
  top: 18px;
  left: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #9356DC;
  font-size: 14px;
  color: #fff;
  border-radius: 50%;
}
.fonctionnement__container__cards .fonctionnement--icone {
  color: #7E7E7E;
  margin-left: 0.8rem;
}

@media (min-width: 1000px) {
  .fonctionnement {
    max-width: 1300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .fonctionnement__container {
    flex-direction: row;
    column-gap: 2.5rem;
  }
  .fonctionnement__container__cards {
    min-width: 320px;
  }
}
.restaurants {
  padding: 1rem;
  padding-bottom: 3.5rem;
  display: grid;
  grid-template-rows: 3.5rem repeat(4, 1fr);
  background-color: #f5f5f5;
  row-gap: 1rem;
}
.restaurants__title {
  padding-top: 1.5rem;
}
.restaurants__card {
  cursor: pointer;
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
.restaurants__card div {
  position: relative;
}
.restaurants__card div img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.restaurants__card div .restaurants-new {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #99E2D0;
  color: #008766;
  padding: 0.3rem;
  font-weight: 500;
  border-radius: 0.1rem;
}
.restaurants__card__description {
  position: relative;
  padding: 0.5rem 0 0.8rem 0.8rem;
}
.restaurants__card__description h3 {
  margin-bottom: 0.2rem;
}
.restaurants__card__description i {
  position: absolute;
  right: 1.2rem;
  top: 1rem;
  font-size: 1.2rem;
}

@media (min-width: 1000px) {
  .restaurants {
    grid-template-rows: 3.5rem repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .restaurants__title {
    grid-column: 1/-1;
  }
}
.footer {
  background: #353535;
  color: #fff;
  padding: 1.5rem 0 2rem 1rem;
}
.footer__logo {
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 1.5rem;
}
.footer__block {
  display: flex;
  flex-direction: column;
  row-gap: 0.6rem;
}
.footer__block a {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}
.footer__block a .fa-handshake-angle {
  font-size: 11px;
  display: block;
}
.footer__block a .fa-utensils {
  font-size: 13px;
}

@media (min-width: 1000px) {
  .footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 1.5rem;
    padding-right: 2rem;
  }
  .footer__logo {
    order: 2;
    margin: 0;
  }
  .footer__block {
    flex-direction: row;
    column-gap: 1.5rem;
  }
}
.button {
  padding: 0.8rem 1rem;
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  outline: none;
  border: none;
  border-radius: 25px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  transition: 600ms;
}
.button:hover {
  transform: scale(1.1);
}

/*# sourceMappingURL=style.css.map */
