.fonctionnement {
    padding: 2.5rem;

    &__title {
        margin-bottom: 2rem;
    }

    &__container {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;

        &__cards {
            display: flex;
            position: relative;
            width: 100%;
            column-gap: 1rem;
            background-color: #f6f6f6;
            font-weight: 500;
            padding: 1.3rem 1rem;
            border-radius: 20px;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);

            &:hover {
                background-color: #F5EDFF;

                .fonctionnement--icone {
                    color: $color-primary;
                }
            }

            .fonctionnement--number {
                position: absolute;
                top: 18px;
                left: -10px;
                @include flex-center;
                width: 1.5rem;
                height: 1.5rem;
                background-color: $color-primary;
                font-size: 14px;
                color: #fff;
                border-radius: 50%;
            }

            .fonctionnement--icone {
                color: #7E7E7E;
                margin-left: 0.8rem;
            }
        }
    }
}


// Media Queries fonctionnement
@media (min-width: 1000px) {
    .fonctionnement {
        max-width: 1300px;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__container {
            flex-direction: row;
            column-gap: 2.5rem;
    
            &__cards {
                min-width: 320px;
            }
        }
    }

    
}