.footer {
    background: #353535;
    color: #fff;
    padding: 1.5rem 0 2rem 1rem;
    

    &__logo {
    font-family: 'Shrikhand';
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 1.5rem;
    }

    &__block {
        display: flex;
        flex-direction: column;
        row-gap: 0.6rem;

        a {
            display: flex;
            align-items: center;
            column-gap: 0.5rem;

            .fa-handshake-angle {
                font-size: 11px;
                display: block;
            }

            .fa-utensils {
                font-size: 13px;
            }
        }

        a:hover {
            text-decoration: underline;
        }
    }


}

// Media Queries Footer
@media (min-width: 1000px) {

    .footer {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        column-gap: 1.5rem;
        padding-right: 2rem;

        &__logo {
            order: 2;
            margin: 0;
        }

        &__block {
            flex-direction: row;
            column-gap: 1.5rem;
        }
    }
}